h3{
    font-size:25px !important;
}
.btn-success:hover{
    background-color:darkkhaki;
    color:darkblue;
}
canvas{
    animation-name:example;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 30px darksalmon;}
    to{box-shadow:1px 1px 30px cyan;}
}